!!! XML
!!!
%html
  %head
    %title
    %link{ :rel  => 'stylesheet', |
           :type => 'text/css', |
           :href => '/stylesheet.css' } |
  %body
    %h1
      %a{ :href => '/home' } weaky
    %h2= @title || (@item && @item.name) || 'weaky'
    #content
      = yield
