body
  h1
    font-family: Helvetica, Arial, sans-serif
    font-size: 36pt
    text-align: center
    a
      color: green
      text-decoration: none
  #admin
    padding-left: 0.25em
    padding-right: 0.25em
    background-color: #ffb
  #item
    padding-left: 0.25em
    padding-right: 0.25em
  textarea
    width: 100%
    height: 250px
  a.missing
    color: red
